body
{
background-color: #BC5381;
}

.Border
{
width:750px;
height:430px;
border-color:white;
background-color:white;
margin: auto;
margin-left: auto;
margin-right: auto;
margin-top:85px;
box-shadow: 5px 0px 10px white;
}

.logo
{
width:130px;
height:45px;
margin-left: 600px;
margin-top:10px;
margin-bottom:20px;
}

h3
{
margin-left: 360px;	
margin-bottom :-6px;
margin-top:6px;
z-index: 1;
position:relative;
color: #9F3564;
font-family: Roboto;
font-size:22px;
}

.img
{
width:450px;
height:340px;
margin-top:-560px;
position: relative;
}

.elements
{
margin-left: 430px;

z-index: 1;
position:relative;

}

input
{
width:280px;
height:20px;
border: none;
border-bottom: 2px solid #EBEBEB;
font-family: Roboto;
font-size:13px;
}

::placeholder
{
color:#C6C1C1;
}

button
{
width:240px;
height:43px;
border: none;
margin-left: 20px;
border-radius:9px;
cursor: pointer;
background-color:#1CB3BD;
color: white;
font-family: Roboto;
font-size:15px;
}
